.main-area {
    display: 'block';
}

.white {
    background: white;
    border-radius: 10px;
    padding-top: 10px;
}

.form-control {
    font-size: 20px;
}

.text-area {
    margin-bottom: 20px;
    margin: auto;
    display: block;
    width: 100%;
}

.text-box {
    margin-bottom: 20px;
    margin-top: 100px;
    margin: auto;
    padding: 20;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 25px;
    word-wrap: break-word;
}

.text-title {
    text-align: center;
}

.button {
    margin-top: 100px;
}

.button-area {
    text-align: center;
}

.alert {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #28a745;
    min-width: 70px;
    min-height: 55px;
    padding: 5px;
    font-size: 15px;
}
