#testpage {
    margin: auto;
    width: 90vmin;
}

#question {
    background: gray;
    color: white;
    font-size: 20px;
    margin: auto;
    width: 80vmin;
    border: 2px solid black;
    border-radius: 25%;
}

#answer {
    background: lightgray;
    font-size: 20px;
    margin: auto;
    width: 80vmin;
    border: 2px solid black;
    border-radius: 25%;
}

Form {
    width: 80vmin;
    margin: auto;
    padding: 10px;
}

.goodWord {
    color:green;
}
.badWord {
    color:red;
}

#answerToast {
    position: absolute;
    top: 10px;
    right: 10px;
    min-width: 35vmin;
    background: rgba(175, 219, 54, 0.95);

}

#answerHeader {
    background: rgba(141, 175, 46, 0.95);
    color: white;
    justify-content: space-between;
}
