.App {
  text-align: center;
}

.header {
  background: #007bff;
  min-height: 50px;
}

.App-header {
  font-family: 'Permanent Marker', cursive;
  font-style: italic;
  font-weight: bold;
  font-size: 55px;
  color: white;
  padding-bottom: 5px;
}

.tabs {
  font-family: Tahoma, cursive;
  font-size: 22px;
  width: 90vw;
  margin: auto;
}

.blueBackground {
  background: rgb(237, 245, 245);
  width: 90vw;
  margin: 2px auto;
  padding: 2px;
  border: 1px solid blue;
  min-height: 75vh;
}

