.App {
  text-align: center;
}

.header {
  background: #007bff;
  min-height: 50px;
}

.App-header {
  font-family: 'Alex Brush', cursive;
  font-size: 60px;
  color: white;
}

.tabs {
  font-family: 'Alex Brush', cursive;
  font-size: 30px;
}

.blueBackground {
  background: lightblue;
  width: 90vw;
  margin: 2px auto;
  padding: 2px;
  border: 1px solid blue;
}